# Node dependencies
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/
*.lcov

# Build outputs
dist/
build/
out/

# Cache
.cache/
.tmp/
tmp/
.npm/
.pnpm-store/
.eslintcache

# OS files
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Environment variables
.env

# Frontend Folder
frontend/node_modules/
./frontend